@{
    ViewBag.Title = "Home Page";
}
@model WebApp.Controllers.HomeVM



<div class="row">
    <table>
        <tr>
            <td>@Html.DropDownList("Tags",Model.Tags)</td>
        </tr>
    </table>
    <table>

        @foreach (var m in Model.Reports)
        {
            <tr>

                @if (m.Type.IsExpence)
                {
                    <td>Expence</td>
                }
                else
                {
                    <td>Income</td>

                }
                <td>@m.Ammount</td>
                <td>@m.Date.ToShortDateString()</td>
                <td>@m.Causale</td>
                <td>@m.Description</td>
            </tr>
        }
    </table>
</div>