@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Controllers.HomeVM

<script type="text/javascript">
    $(document).ready(function () {

    });
    function selectRow(elm) {
        $("#start").val($(elm).text());
    }
</script>

<div class="row">
    @using (Html.BeginForm("Index","Home",FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-2">@Html.DropDownList("tag", Model.Tags)</div>
            <div class="col-md-1">@Html.DropDownList("rule", Model.Rules)</div>
            <div class="col-md-8"><input type="text" id="start" name="start" style="max-width: 1000px;width:100%" /></div>
            <div class="col-md-1"><input type="submit" value="send" /></div>
        </div>
    }
    
    <table>
        <caption>Not Tagged</caption>

        @foreach (var m in Model.Reports.Where(x => !x.Tagged))
        {
            <tr>

                @if (m.Type.IsExpence)
                {
                    <td>Expence</td>
                }
                else
                {
                    <td>Income</td>
                }
                <td>@m.Ammount</td>
                <td>@m.Date.ToShortDateString()</td>
                <td>@m.Causale</td>
                <td onclick="selectRow(this)">@m.Description.Substring(0, 150)</td>
            </tr>
        }
    </table>
    <p>Already Tagged</p>
    @{
        var reports = Model.Reports
            .Where(x => x.Tagged)
            .GroupBy(x => x.Type)
            .Select(x => new { Type = x.Key, G = x.GroupBy(y => y.Tag) });

    }
    @foreach (var m in reports)
    {
        <ul>

            @if (m.Type.IsExpence)
            {
                <li>Expence</li>
            }
            else
            {
                <li>Income</li>
            }
            <li>

                <ul>

                    @foreach (var g in m.G)
                    {
                        <li>
                            @Model.Tags.First(x => x.Value == g.Key.ToString()).Text
                            @g.Sum(x => x.Ammount)
                        </li>
                    }
                </ul>
            </li>

        </ul>
    }
    @using (Html.BeginForm("Save","Load",FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-1">@Html.DropDownList("account", Model.Accounts)</div>
            <div class="col-md-1"><input type="submit" value="Salva Movimenti" /></div>
        </div>
    }
</div>