@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Controllers.LoadExpensesViewModel

<script type="text/javascript">
    $(document).ready(function () {

    });
    function selectRow(elm) {
        $("#start").val($(elm).text());
    }
</script>
<h2>Entries Analysis</h2>

@if (Model.Reports.Any(x => !x.Tagged))
{
    var id = 0;
    using (Html.BeginForm("Index", "Load", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("rule", "Rule")
            @Html.DropDownList("rule", Model.Rules, new { @class = "form-control" })
        </div>
        <h3>Add Rule</h3>
        <div class="form-group">
            @Html.Label("tag", "Tag")

            <select name="tag" class="form-control">
                <option value="0">-- Select --</option>

                @foreach (var cat in Model.CategoryTags)
                {
                    <optgroup label="@cat.Key.name">
                        @foreach (var mTag in cat.Value)
                        {
                            <option value="@mTag.id">@mTag.name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.Label("start", "Start String")
            <input type="text" id="start" name="start" style="max-width: 1000px; width: 100%" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="send" class="btn btn-default" />
        </div>
    }
    using (Html.BeginForm("SaveEntries", "Load", FormMethod.Post))
    {
        <h3>All Entries</h3>
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Account</th>
                    <th>Value</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var m in Model.Reports)
                {
                    var trClass = m.Type.IsExpence ? "danger" : "success";
                    var tag = Model.Tags.FirstOrDefault(x => x.Value == m.Tag.ToString());
                    <script>vm.selectedCategory[@id] = ko.observable(0);</script>
                    <tr class="@trClass">

                        <td>
                            <input name="model[@id].Id" type="hidden" value="@m.Hash" class="form-control" />

                            <select name="model[@id].Tag" class="form-control">
                                <option value="0">-- Select --</option>

                                @foreach (var cat in Model.CategoryTags.Where(x => m.Type.IsExpence && x.Key.type == "expense" || !m.Type.IsExpence && x.Key.type == "income"))
                                {
                                    <optgroup label="@cat.Key.name">
                                        @foreach (var mTag in cat.Value)
                                        {
                                            if (tag != null && tag.Value == mTag.id)
                                            {
                                                <option value="@mTag.id" selected="selected">@mTag.name</option>
                                            }
                                            else
                                            {
                                                <option value="@mTag.id">@mTag.name</option>
                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="model[@id].Account" class="form-control">
                                <option value="0">-- Select --</option>
                                @foreach (var mAccount in Model.Accounts)
                                {
                                    if ((tag != null && mAccount.Text == "RID") ||
                                        (tag == null && mAccount.Text == "Cash"))
                                    {
                                        <option value="@mAccount.Value" selected="selected">@mAccount.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@mAccount.Value">@mAccount.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            @m.Ammount.ToString("C")
                        </td>
                        <td>@m.Date.ToShortDateString()</td>
                        <td onclick="selectRow(this)">@m.Description</td>
                    </tr>
                    id++;

                }
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="send" class="btn btn-default" />
        </div>
    }

}

@if (Model.IgnoredReports.Any())
{
    <h3>Ignored</h3>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Value</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var m in Model.IgnoredReports)
                {
                    var trClass = m.Type.IsExpence ? "danger" : "success";
                <tr class="@trClass">
                    <td>@m.Ammount.ToString("C")</td>
                    <td>@m.Date.ToShortDateString()</td>
                    <td>@m.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@Html.ActionLink("Back to Home", "Index", "Home")